<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    	<title>Show Data Realtime</title>
    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	    <link href="css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
      <link href="css/style_home.css" rel="stylesheet">
	    <link href="color/default.css" rel="stylesheet">
      <link href="build/c3.css" rel="stylesheet">
      <script src="build/d3.v3.min.js" charset="utf-8"></script>
      <script src="build/c3.js"></script>
  <style>
     ul.nav-pills {
         top: 50px;
         position: fixed;
         background-color: #f1f1f1;
     }
  </style>
 </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-bottom nav-pills" role="navigation" style="background:#23434">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                  <!--  <h1>LoRa Management Device</h1> -->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
	      <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Back</a></li>
        	<li class= "active"> <a href="#synthetic"> Synthetic</a></li>
          <li><a href="#floor1">Floor 1</a></li>
        	<li><a href="#floor2">Floor 2</a></li>
        	<li><a href="#floor3">Floor 3</a></li>
        	<li><a href="#floor4">Floor 4</a></li>
          <li><a href="#floor5">Floor 5</a></li>
        	<li><a href="#floor6">Floor 6</a></li>
        	<li><a href="#floor7">Floor 7</a></li>
          <li><a href="#floor8">Floor 8</a></li>
          <li><a href="#floor9">Floor 9</a></li>
		    </u>
	    </div>
    </div>
  </nav>
  <section id = "synthetic" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Temperature</h4>
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <h3> Chart Humidity</h3>
            <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor1"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer4" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor2"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer5" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer6" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor3"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer7" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer8" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor4"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer9" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer10" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor5"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer11" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer12" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor6"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer13" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer14" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor7"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer15" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer16" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor8"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer17" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer18" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id = "floor9"  class="home-section text-center bg-gray" >
    <div class="heading-about">
      <div class="container">
      <div class="row"
          <div class="col-xs-2 col-sm-14">
            <h4> Chart Humidity</h4>
            <div id="chartContainer19" style="height: 300px; width: 100%;"></div>
            <h3> Chart Temperature</h3>
            <div id="chartContainer20" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
<script>
  window.onload = function () {

  var chart1 = new CanvasJS.Chart("chartContainer", {
  	theme:"light2",
  	animationEnabled: true,
  	title:{
  		text: "Temperature"
  	},
  	axisY :{
  		includeZero: false,
  		title: "Temperature",
  		suffix: "oC"
  	},
  	toolTip: {
  		shared: "true"
  	},
  	legend:{
  		cursor:"pointer",
  		itemclick : toggleDataSeries
  	},
  	data: [{
  		type: "spline",
  		visible: true,
  		showInLegend: true,
  		yValueFormatString: "##.00 oC",
  		name: "Node 1",
  		dataPoints: [
       <% listN1.rows.forEach(function(dl) { %>
       <%= "{ y: "+dl.temperature+" }," %>
       <% }); %>
  		]
  	},
  	{
  		type: "spline",
  		showInLegend: true,
  		visible: true,
  		yValueFormatString: "##.00 oC",
  		name: "Node 2",
      dataPoints: [
        <% listN2.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
  	},
    {
      type: "spline",
      showInLegend: true,
      visible: true,
      yValueFormatString: "##.00 oC",
      name: "Node 3",
      dataPoints: [
        <% listN3.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
    },
    {
      type: "spline",
      showInLegend: true,
      visible: true,
      yValueFormatString: "##.00 oC",
      name: "Node 4",
      dataPoints: [
        <% listN4.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
    },
  	{
  		type: "spline",
  		showInLegend: true,
  		yValueFormatString: "##.00 oC",
  		name: "Node 5",
  		dataPoints: [
        <% listN5.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
  		]
  	},
    {
      type: "spline",
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 6",
      dataPoints: [
        <% listN6.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
    },
    {
      type: "spline",
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 7",
      dataPoints: [
        <% listN7.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
    },
    {
      type: "spline",
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 8",
      dataPoints: [
        <% listN8.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
    },
    {
      type: "spline",
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 9",
      dataPoints: [
        <% listN9.rows.forEach(function(dl) { %>
        <%= "{ y: "+dl.temperature+" }," %>
        <% }); %>
      ]
    }]
  });
  //---------------------------------------------
  var chart2 = new CanvasJS.Chart("chartContainer2", {
            theme:"light2",
            animationEnabled: true,
            title:{
              text: "Humidity"
            },
            axisY :{
              includeZero: false,
              title: "%",
              suffix: "%"
            },
            toolTip: {
              shared: "true"
            },
            legend:{
              cursor:"pointer",
              itemclick : toggleDataSeries
            },
            data: [{
              type: "spline",
              visible: true,
              showInLegend: true,
              yValueFormatString: "##.00",
              name: "Node 1",
              dataPoints: [
               <% listN1.rows.forEach(function(dl) { %>
               <%= "{ y: "+dl.humidity+" }," %>
               <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              visible: true,
              yValueFormatString: "##.00",
              name: "Node 2",
              dataPoints: [
                <% listN2.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              visible: true,
              yValueFormatString: "##.00",
              name: "Node 3",
              dataPoints: [
                <% listN3.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              visible: true,
              yValueFormatString: "##.00",
              name: "Node 4",
              dataPoints: [
                <% listN4.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              yValueFormatString: "##.00",
              name: "Node 5",
              dataPoints: [
                <% listN5.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              yValueFormatString: "##.00",
              name: "Node 6",
              dataPoints: [
                <% listN6.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              yValueFormatString: "##.00",
              name: "Node 7",
              dataPoints: [
                <% listN7.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              yValueFormatString: "##.00",
              name: "Node 8",
              dataPoints: [
                <% listN8.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            },
            {
              type: "spline",
              showInLegend: true,
              yValueFormatString: "##.00",
              name: "Node 9",
              dataPoints: [
                <% listN9.rows.forEach(function(dl) { %>
                <%= "{ y: "+dl.humidity+" }," %>
                <% }); %>
              ]
            }]
          });
  var chart3 = new CanvasJS.Chart("chartContainer3", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 1",
      dataPoints: [
       <% listN1.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %>},
       <% }); %>
      ]
    }]
  });
  var chart4 = new CanvasJS.Chart("chartContainer4", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 1",
      dataPoints: [
       <% listN1.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart5 = new CanvasJS.Chart("chartContainer5", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 2",
      dataPoints: [
       <% listN2.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %>},
       <% }); %>
      ]
    }]
  });
  var chart6 = new CanvasJS.Chart("chartContainer6", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 2",
      dataPoints: [
       <% listN2.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart7 = new CanvasJS.Chart("chartContainer7", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 3",
      dataPoints: [
       <% listN3.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %> },
       <% }); %>
      ]
    }]
  });
  var chart8 = new CanvasJS.Chart("chartContainer8", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 3",
      dataPoints: [
       <% listN3.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart9 = new CanvasJS.Chart("chartContainer9", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 4",
      dataPoints: [
       <% listN4.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %>},
       <% }); %>
      ]
    }]
  });
  var chart10 = new CanvasJS.Chart("chartContainer10", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 4",
      dataPoints: [
       <% listN4.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart11 = new CanvasJS.Chart("chartContainer11", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 5",
      dataPoints: [
       <% listN5.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %> },
       <% }); %>
      ]
    }]
  });
  var chart12 = new CanvasJS.Chart("chartContainer12", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 5",
      dataPoints: [
       <% listN5.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart13 = new CanvasJS.Chart("chartContainer13", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 6",
      dataPoints: [
       <% listN6.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %> },
       <% }); %>
      ]
    }]
  });
  var chart14 = new CanvasJS.Chart("chartContainer14", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 6",
      dataPoints: [
       <% listN6.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart15 = new CanvasJS.Chart("chartContainer15", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 7",
      dataPoints: [
       <% listN7.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %> },
       <% }); %>
      ]
    }]
  });
  var chart16 = new CanvasJS.Chart("chartContainer16", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 7",
      dataPoints: [
       <% listN7.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart17 = new CanvasJS.Chart("chartContainer17", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 8",
      dataPoints: [
       <% listN8.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %> },
       <% }); %>
      ]
    }]
  });
  var chart18 = new CanvasJS.Chart("chartContainer18", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 8",
      dataPoints: [
       <% listN8.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %> },
       <% }); %>
      ]
    }]
  });
  var chart19 = new CanvasJS.Chart("chartContainer19", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Humidity"
    },
    axisY :{
      includeZero: false,
      title: "%",
      suffix: "%"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00",
      name: "Node 9",
      dataPoints: [
       <% listN9.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.humidity %>},
       <% }); %>
      ]
    }]
  });
  var chart20 = new CanvasJS.Chart("chartContainer20", {
    theme:"light2",
    animationEnabled: true,
    title:{
      text: "Temperature"
    },
    axisY :{
      includeZero: false,
      title: "Temperature",
      suffix: "oC"
    },
    toolTip: {
      shared: "true"
    },
    legend:{
      cursor:"pointer",
      itemclick : toggleDataSeries
    },
    data: [{
      type: "spline",
      visible: true,
      showInLegend: true,
      yValueFormatString: "##.00 oC",
      name: "Node 9",
      dataPoints: [
       <% listN9.rows.forEach(function(dl) { %>
       { label: '<%=  dl.created_at %>', <%= 'y:' +dl.temperature %>},
       <% }); %>
      ]
    }]
  });
  chart1.render();
  chart2.render();
  chart3.render();
  chart4.render();
  chart5.render();
  chart6.render();
  chart7.render();
  chart8.render();
  chart9.render();
  chart10.render();
  chart11.render();
  chart12.render();
  chart13.render();
  chart14.render();
  chart15.render();
  chart16.render();
  chart17.render();
  chart18.render();
  chart19.render();
  chart20.render();
  function toggleDataSeries(e) {
  	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
  		e.dataSeries.visible = false;
  	} else {
  		e.dataSeries.visible = true;
  	}
    chart1.render();
    chart2.render();
    chart3.render();
    chart4.render();
    chart5.render();
    chart6.render();
    chart7.render();
    chart8.render();
    chart9.render();
    chart10.render();
    chart11.render();
    chart12.render();
    chart13.render();
    chart14.render();
    chart15.render();
    chart16.render();
    chart17.render();
    chart18.render();
    chart19.render();
    chart20.render();
  }
}
</script>
</body>
</html>
